<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>a</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="contenedor">
        <h2>TRANSLOGISTICA</h2>
        <br>
        <div class="btnCentrado">
            <button type="submit" id="btnAgregar">Agregar</button>
        </div>
        <br>
        <!-- FORMULARIO -->
        <div id="ModalDatos" class="ModalDatos ModalOculto">
            <div class="ModalCaja">
                <h2>Agregar Datos</h2>
                <div class="btnCentrado">
                    <button id="btnDatos" class="btnForm">Datos</button>
                    <button id="btnGuias" class="btnForm">Guias</button>
                    <button id="btnGastos" class="btnForm">Gastos</button>
                </div>
                <form class="formulario" id="formulario">

                    <div id="DatosForm">
                        <input id="Fecha" type="datetime-local" name="Fecha" placeholder="Fecha">
                        <input id="Origen" type="text" name="Origen" placeholder="Origen">
                        <input id="Destino" type="text" name="Destino" placeholder="Destino">
                        <input id="Cliente" type="text" name="Cliente" placeholder="Cliente">
                        <input id="Carga" type="text" name="Carga" placeholder="Carga">
                        <input id="Flete" type="text" name="Flete" placeholder="Flete">
                        <input id="Viatico" type="text" name="Viatico" placeholder="Viáticos">    
                    </div>

                    <div id="GuiasForm" class="ModalOculto">
                        <!-- G.R. Remitente -->
                        <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                            <h3 class="titulo-remitente">
                                G.R. Remitente
                                <input id="txtGRR" type="text" style="width: 200px;">
                                <button id="btnAgregarGRR" type="button" class="btn-plus">+</button>
                            </h3>
                            <div id="LGRR" class="ModalOculto">
                                <table id="ListaGRRPOST" >
                                    <thead>
                                        <tr>
                                            <th>GRR</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaGRR">
                                        <!-- Se Agregan GRR Dinamicamente a la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- G.R. Transportista -->
                        <div style="display: flex; flex-direction: column;">
                            <h3 class="titulo-remitente">
                                G.R. Transportista
                                <input id="txtGRT" type="text" style="width: 200px;">
                                <button id="btnAgregarGRT" type="button" class="btn-plus">+</button>
                            </h3>
                            <div id="LGRT" class="ModalOculto">
                                <table id="ListaGRTPOST" >
                                    <thead>
                                        <tr>
                                            <th>GRT</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaGRT">   
                                        <!-- Se Agregan GRT Dinamicamente a la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div id="GastosForm" class="ModalOculto">
                        <div>
                            Combustible:
                            <input type="text" id="Galones" placeholder="Combustible (Galones)">
                            <input type="number" id="PrecioGalon" placeholder="Precio por Galon">    
                        </div>
                        <div>
                            Peajes:
                            <input id="Ubicacion" type="text" placeholder="Ubicación">
                            <input id="Costo" type="number" placeholder="Costo">
                            <button id="btnAgregarPeaje" type="button" class="btn-plus">+</button>
                            <div id="ListaPeajes" class="ListaPeajes">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ubicación</th>
                                            <th>Costo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaPeajes">
                                        <!-- Se Agregan Peajes Dinamicamente a la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            Gastos Varios:
                            <input id="Descripcion" type="text" placeholder="Descripción">
                            <input id="Monto" type="number" placeholder="Costo">
                            <button id="btnAgregarGasto" type="button" class="btn-plus">+</button>
                            <div id="ListaGastosVarios" class="ListaGastosVarios">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Descripción</th>
                                            <th>Costo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaGastosVarios">
                                        <!-- Se Agregan Gastos Varios Dinamicamente a la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="btnCentrado">
                        <div id="DivBtnGuardar" class="ModalOculto">
                            <button id="btnGuardar" type="submit">Guardar</button>
                        </div>
                        <div id="DivBtnEditar" class="ModalOculto">
                            <button id="btnEditar" type="button">Editar</button>
                        </div >
                        <button id="btnCancelar" type="button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Cntenedores de vista de los datos -->
        <div id="ContenedorDatos" class="ContenedorDatos ModalOculto">
            <div class="ModalCaja">
                <button class="btnCerrar btnCerrarJS">X</button>
                <h3>Datos</h3>
                <div>
                    Fecha: <span id="fecha" style="margin-right: 10px;"></span>
                    <br>
                    Origen: <span id="origen" style="margin-right: 10px;"></span>
                    <br>
                    Destino: <span id="destino" style="margin-right: 10px;"></span>
                    <br>
                    Cliente: <span id="cliente" style="margin-right: 10px;"></span>
                    <br>
                    Carga: <span id="carga" style="margin-right: 10px;"></span>
                    <br>
                    Flete: <span id="flete" style="margin-right: 10px;"></span>
                    <br>
                    Viaticos: <span id="viaticos" style="margin-right: 10px;"></span>
                </div>
            </div>
        </div>

        <div id="ContenedorGuias" class="ContenedorGuias ModalOculto">
            <div class="ModalCaja">
                <button class="btnCerrar btnCerrarJS">X</button>
                <div>
                    <h3>Guias</h3>
                    <div style="margin-right: 10px; font-weight: bold;">GRR:</div>
                    <ul id="ListaGRR" style="margin:0; padding:0; list-style:none;">
                        <!-- Elementos de GRR dinámicos -->
                    </ul>
                </div>
                <div>
                    <div style="margin-right: 10px; font-weight: bold;">GRT:</div>
                    <ul id="ListaGRT" style="margin:0; padding:0; list-style:none;">
                        <!-- Elementos de GRT dinámicos -->
                    </ul>
                </div>
            </div>
        </div>

        <div id="ContenedorGastos" class="ContenedorGastos ModalOculto">
            <div class="ModalCaja">
                <button class="btnCerrar btnCerrarJS">X</button>
                <h3>Gastos</h3>
                <div>
                    <div style="margin-right: 10px; font-weight: bold;">Combustible:</div>
                    <ul id="ListaCombustible" style="margin:0; padding:0; list-style:none;">
                        <!-- Elementos de Combustible dinámicos -->
                         <li>Galones: <span id="SpanGalones" style="margin-right: 10px;"></span></li>
                         <li>Precio por Galon: <span id="SpanPrecioUnit" style="margin-right: 10px;"></span></li>
                         <li>Precio Pagado: <span id="SpanPago" style="margin-right: 10px;"></span></li>
                    </ul>
                </div>
                <div>
                    <div style="margin-right: 10px; font-weight: bold;">Peajes:</div>
                    <ul id="ListaPeaje" style="margin:0; padding:0; list-style:none;">
                        <!-- Elementos de Peajes dinámicos -->
                    </ul>
                </div>
                <div>
                    <div style="margin-right: 10px; font-weight: bold;">Gastos Varios:</div>
                    <ul id="ListaGV" style="margin:0; padding:0; list-style:none;">
                        <!-- Elementos de Gastos Varios dinámicos -->
                    </ul>
                </div>
            </div>
        </div>
        <!---->

        <div id="TablaDatos">
            <table id="TablaPrincipal" class="tabla-compacta">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Datos</th>
                        <th>Guias</th>
                        <th>Gastos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaDatos">
                    <!-- filas dinámicas -->
                </tbody>
            </table>
        </div>

    </div>
<script src="../js.js"></script>
</body>
</html>
